html{
    background: linear-gradient(to right, red,orange,yellow,green,blue,purple);
    background-size: Auto Auto;
    padding: 16px;
}
body{
    background-color: #e3cfcf;
    border: 2px solid Grey;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;
}
h1 {
    font-family: 'Balsamiq Sans', cursive;
    color: blue;
    border: 2px solid lime;
    border-radius: 5px;
    border-left: auto;
    border-right: auto;
    text-align: center;
    padding: 5px;
    margin-right: 400px;
    margin-left: 400px;
}
p.computer {
    text-align: center;
    color: green;
}
p.computer::before {
    color: black;
    content:"Computer: ";
    font-weight: bold;
}
p.CA {
    text-align: center;
    color: red;
    font-style: italic;  
}
p.CA::before {
    color: black;
    content:"Computer: ";
    font-style: none;
    font-weight: bold;
}
button.button-1 {
    display: inline;
    text-align: center;
    color: black;
    background-color: #4CAF50;
    margin-left: 40%;
    margin-right: 40%;
}
button.button-2 {
    display: inline;
    text-align: center;
    color: black;
    background-color: #4CAF50;
    margin-left: 40%;
    margin-right: 40%;
}
p.demo {
    text-align: center;
    color: red;
    border: 2px solid red;
    padding: 16px;
    border-radius: 5px;
    box-sizing: 10%;
    margin-right: 40%;
    margin-left: 40%;
    padding-top: 3px;
    padding-bottom: 3px;
}
nav ul {
    list-style-type: none;
    background-color: #B577B5;
    border: 4px solid #111111;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 16px;
}
nav ul li {
    display: inline;
    border-right: 2px solid #111111;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: #111111;
    text-align: center;
}
nav li.selected {
    color:#606060;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
    background-color: black;
    color: white;
}
p.top-tip {
    border: 4px solid #00AFEB;
    border-radius: 10px;
    padding: 16px;
    background-color: #C5EBFB;
}
p.top-tip::before {
    color: Black;
    content: "TOP TIP: ";
    font-weight: bold;
}
.favicon {
    size: 8px;
}